<details>
<summary>Entschuldigungsregeln der Schule (§ 5 ThürSchulO)</summary>
<ul>
  <li><b>Am Fehltag bis spätestens 7:45 Uhr</b> die Schule verständigen - telefonisch
    (persönlich oder Anrufbeantworter, 03675&nbsp;800961) oder per E-Mail an Klassenleiter/in
    <b>und</b> Sekretariat (sekretariat@gswolke.de), jeweils mit Angabe des Grundes.</li>
  <li>Bei Erkrankung <b>bis zu 3 Tagen</b> genügt dieser Anruf bzw. die E-Mail.</li>
  <li><b>Ab dem 4. Unterrichtstag</b> ist bei Rückkehr eine schriftliche Entschuldigung über die
    Dauer der Erkrankung vorzulegen - dafür ist dieses Formular gedacht.</li>
  <li>Dauert die Erkrankung <b>mehr als zehn Unterrichtstage</b>, verlangt die Schule eine
    ärztliche Bescheinigung.</li>
  <li>Bei gehäuften Versäumnissen oder Zweifeln kann die Schule ein ärztliches oder amtsärztliches
    Zeugnis bereits ab dem ersten Krankheitstag verlangen (Bescheid dazu kommt schriftlich).</li>
  <li>Unentschuldigtes Fehlen eskaliert: am 11. unentschuldigten Tag Meldung an das Jugendamt,
    ab dem 16. Anzeige beim Ordnungsamt.</li>
</ul>
<p><i>Quelle: Entschuldigungsregeln der Grundschule (Stand 08/2026), ohne Gewähr - im Zweifel gilt das aktuelle Schreiben der Schule.</i></p>
</details>
