<h2 class="doc-title">Entschuldigung</h2>
<p class="doc-sub">wegen Schulversäumnis</p>
<p>Sehr geehrte Damen und Herren,</p>
<p>hiermit entschuldige ich, {{{guardian}}}, das Fehlen meines Kindes
<b>{{{child}}}</b>, Klasse {{{grade}}}, {{{period}}}.</p>
<p><b>Grund:</b> {{{reason}}}</p>
<p>Ich bitte um Kenntnisnahme.</p>
<p style="margin-top:24px">Mit freundlichen Grüßen</p>
{{> sig-block}}
