<p style="margin-top:20px;"><b><u>Kenntnisnahme</u></b></p>
<div class="sig-row" style="margin-top:34px;">
  <div class="sig-lined" style="flex:0 0 58%;">
    <div class="sig-value">{{{childFormal}}}&nbsp;</div>
    <div class="sig-label">Name, Vorname Schüler/in</div>
  </div>
  <div class="sig-lined" style="flex:0 0 20%;">
    <div class="sig-value">{{{grade}}}&nbsp;</div>
    <div class="sig-label">Klasse</div>
  </div>
</div>
<p style="margin-top:22px;"><b>Wir haben die Hausordnung und die Belehrung zum Tragen von Smartwatches,
Benutzung von Handys und MP3-Playern zur Kenntnis genommen.</b></p>
<p style="margin-top:16px;"><b>Datum:</b> {{{dateText}}}</p>
<div class="sig-row" style="margin-top:40px;">
  <div class="sig-lined">
    <div class="sig-value">&nbsp;</div>
    <div class="sig-label"><b>Schüler/in</b></div>
  </div>
  <div class="sig-lined">
    <div class="sig-value">&nbsp;</div>
    <div class="sig-label"><b>Sorgeberechtigte</b></div>
  </div>
</div>
