<p>Im Original ist dies der <b>untere Abschnitt eines Elternbriefs</b>, der abgetrennt und
unterschrieben zurückgegeben wird - hier wird nur dieser Abschnitt auf ein normales
A4-Blatt gedruckt. Abgabe üblicherweise zu Schuljahresbeginn (zuletzt: bis 28.08.2026).</p>
<details>
<summary>Die Entschuldigungsregeln, die bestätigt werden (§ 5 ThürSchulO)</summary>
<ul>
  <li><b>Am Fehltag bis spätestens 7:45 Uhr</b> die Schule verständigen - telefonisch
    (03675&nbsp;800961, auch Anrufbeantworter) oder per E-Mail an Klassenleiter/in
    <b>und</b> Sekretariat (sekretariat@gswolke.de), mit Angabe des Grundes.</li>
  <li>Bei Erkrankung <b>bis zu 3 Tagen</b> genügt Anruf oder E-Mail.</li>
  <li><b>Ab dem 4. Unterrichtstag</b> ist bei Rückkehr eine schriftliche Entschuldigung
    über die Dauer vorzulegen (Vorlage „Entschuldigung“ in dieser App).</li>
  <li><b>Mehr als zehn Unterrichtstage:</b> ärztliche Bescheinigung erforderlich.</li>
  <li>Bei Häufungen oder Zweifeln kann die Schule ein (amts-)ärztliches Zeugnis ab dem
    ersten Krankheitstag verlangen.</li>
  <li>Unentschuldigtes Fehlen: am 11. Tag Meldung an das Jugendamt, ab dem 16. Tag
    Anzeige beim Ordnungsamt.</li>
</ul>
<p><i>Quelle: Entschuldigungsregeln der Grundschule (Stand 08/2026), ohne Gewähr - im Zweifel gilt das aktuelle Schreiben der Schule.</i></p>
</details>
