<p style="display:flex;justify-content:space-between;margin-top:30px;font-size:11pt;">
  <span><b>Name, Vorname des Kindes</b>&nbsp; {{{childFormal}}}</span>
  <span><b>Klasse</b>&nbsp; {{{grade}}}</span>
</p>
<p style="margin-top:24px;font-size:11pt;"><b>Ich/wir habe/n die Entschuldigungsregeln der Schule{{#school}} „{{school}}“{{/school}} zur Kenntnis genommen.</b></p>
<div class="sig-row" style="margin-top:60px;">
  <div class="sig-lined" style="flex:0 0 24%;">
    <div class="sig-value">{{dateText}}&nbsp;</div>
    <div class="sig-label">Datum</div>
  </div>
  <div class="sig-lined" style="flex:0 0 48%;">
    <div class="sig-value">&nbsp;</div>
    <div class="sig-label">Unterschrift der Eltern bzw. Sorgeberechtigten</div>
  </div>
</div>
