<details>
<summary>Hinweise der Schule (Ausfüllen, Fristen, Gebühren)</summary>
<h4>Hinweise der Schule zum Ausfüllen</h4>
<ul>
  <li>Die Betreuungszeiten bitte <b>exakt für jeden Tag</b> nach dem aktuellen Stundenplan eintragen.
    Unterrichts-Endzeiten laut Stundenplan:
    <ul>
      <li>4. Stunde 11:35 Uhr,</li>
      <li>5. Stunde 12:50 Uhr,</li>
      <li>6. Stunde 13:40 Uhr.</li>
    </ul>
  <li>Der Frühhort endet täglich um 7:40 Uhr.</li>
  <li>Die Öffnungszeiten des Hortes werden erst nach Eingang aller erforderlichen Betreuungszeiten bekanntgegeben.</li>
  <li>Rückgabe des Formulars <b>sofort nach Bekanntgabe des Stundenplans</b> - unterschrieben von <b>beiden Sorgeberechtigten</b>.</li>
  <li>Das Kind kann nur zur angegebenen Zeit betreut werden; eine frühere Abholung ist möglich.
    Aus Sicherheitsgründen werden Kinder auf telefonische Ansage <b>nicht</b> nach Hause oder vor die
    Schule geschickt - abweichende Zeiten bitte immer ins Hausaufgabenheft eintragen.</li>
</ul>
<h4>An-, Um- und Abmeldung, Gebühren</h4>
<ul>
  <li>Um- und Abmeldungen bis zum <b>05. des Vormonats in der Schule</b> abgeben (Eingang im
    Landratsamt - Schulverwaltungsamt - bis zum 15.), damit sie zum Folgemonat gültig werden.
    Bei nicht fristgerechter Abmeldung wird die Gebühr für einen weiteren Monat fällig.</li>
  <li>Änderungen zum Schuljahresanfang (über/unter 10 Stunden) erscheinen wegen der früh erstellten
    Gebührenbescheide oft erst im Bescheid ab Oktober.</li>
  <li>Für eine <b>Ermäßigung der Hortgebühren</b> die Formulare des Landratsamts ausfüllen und im
    Schulverwaltungsamt abgeben - ohne Unterlagen wird der Höchstbetrag berechnet.</li>
</ul>
<p><i>Quelle: Elternbriefe der Grundschule (Stand 08/2026), ohne Gewähr - im Zweifel gilt das aktuelle Schreiben der Schule.</i></p>
</details>
