<div class="sig-row">
  <div class="sig-lined" style="flex:0 0 30%;">
    <div class="sig-value">{{{sigPlaceDate}}}&nbsp;</div>
    <div class="sig-label">Ort, Datum</div>
  </div>
  <div class="sig-lined" style="flex:0 0 62%;">
    <div class="sig-value">&nbsp;</div>
    <div class="sig-label">{{sigLabel}}</div>
  </div>
</div>
